h1 {
 padding-top:10%;
 color: #f75f4f;
 text-align: center;
 font-size: 5em;
}

h6 {
 text-align: center;
 font-size: 2em;
}

html {
  background: url(fooff.gif) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.transparent{
    position:fixed;
    padding:0;
    margin:0;

    top:0;
    left:0;

    width: 100%;
    height: 100%;
    background:rgba(0,0,0,.6);
}

body {
    background-color: transparent;
font-family: "Lato";
    color:#fff;
    font-size:1.5em;
}

#sidebar {
  font-size:1.14em;
}

p {
    padding-bottom: 20px;
}

#map {
    height: 100%;
}

.map-column {
	border-left: 1px solid rgba(0,0,0,0.2);
	padding-left: 0;
}


.content-title {
    margin-left: 32px;
    color: #333;
    padding-top: 5px;
    font-weight: 600;
}

.content-content {
    color: #666;
    margin-left: 32px;
}


.menu > li {
    display:inline-block;
    font-weight:bold;
    font-size:2em;
    padding:6px 6px;
    cursor:pointer;
    border:2px solid tomato;
    margin:5px;
}
.containerz {
    margin:5px;
}
.containerz > div {
    display:none;
}
.containerz > div:first-child {
    display:block;
}

li:link {
    color: #FF0000;
}


/* mouse over link */
li:hover {
    color: #FF00FF;
}

