h1 {
 padding-top:10%;
 color: #f75f4f;
}

html { 
  background: url(fooff.gif) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.transparent{
    position:fixed;
    padding:0;
    margin:0;

    top:0;
    left:0;

    width: 100%;
    height: 100%;
    background:rgba(0,0,0,.6);
}

body {
    background-color: transparent;
font-family: "Lato";
    color:#fff;
}

p {
    padding-bottom: 20px;
}

#map {
    height: 100%;
}

.map-column {
	border-left: 1px solid rgba(0,0,0,0.2);
	padding-left: 0;
}

.content-title {
    margin-left: 32px;
    color: #333;
    padding-top: 5px;
    font-weight: 600;
}

.content-content {
    color: #666;
    margin-left: 32px;
}